export("amatch_vect"
		,"file_name_from_path"
		,"find_all_matches"
		,"getAllFunctionsFromPackage"
		,"idvect_to_df_by_index"
		,"loadPackages"
		,"make_targz"
		,"merge_cols_shorten_df"
		,"merge_fun_files"
		,"prepareSession"
		,"read_excel_astext"
		,"source_dependencies"
		,"split_col_widen_df"
		,"split_cols_lengthen_df"
		,"split_fun_file_into_many"
		,"stripNames"
		,"tkradio_from_vect"
		,"trim_fun_file_based_on_main"
		,"update_RIGessentials"
		,"writeTableUseBytes"
)