export("amatch_vect"
		,"file_name_from_path"
		,"getAllFunctionsFromPackage"
		,"loadPackages"
		,"merge_fun_files"
		,"prepareSession"
		,"source_dependencies"
		,"split_col_widen_df"
		,"split_cols_lengthen_df"
		,"split_fun_file_into_many"
		,"stripNames"
		,"tkradio_from_vect"
		,"trim_fun_file_based_on_main"
		,"update_RIGessentials"
		,"writeTableUseBytes"
)